./kubernetes-intro/microservices-demo
k1s
.terraform
*.tfvars
chart-mysql
*.tfstate.*.backup
*.tfstate.backup
*.tfstate
*.tfvars
.terraform/
__pycache__
vault-guides
consul-helm
vault-helm
ncc
other
./kubernetes-gitops/microservices-demo
kuberenetes-storage/csi-driver-host-path
packer-boxes
packer
kubernetes-gitops/microservices-demo
